.Home {
  display: flex;
  background-color: white;
}

.Content {
  height: calc(100vh - 65px);
  padding-top: 60px;
  overflow-y: scroll;
}

@media screen and (max-width: 900px) {
  .SideNav {
    display: none;
  }

  .Content {
    width: 100vw;
    height: calc(100vh - 120px);
    /* padding-bottom: 250px; */
  }
}

@media screen and (min-width: 900px) {
  .SideNav {
    display: block;
  }
  .Content {
    width: calc(100vw - 265px);
  }
}
