.Login {
  /* width: 500px; */
  max-width: 500px;
  width: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-top: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #1f2833;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.Register {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  color: #1f2833;
  background-color: #66fcf1;
  border: 1px solid #1f2833;
  border-radius: 20px;
  padding: 15px;
}

.Button {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  color: #66fcf1;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  border-radius: 20px;
  padding: 15px;
}

.Button:hover {
  color: #1f2833;
  background-color: #66fcf1;
  border: 1px solid #1f2833;
}

.RegisterBody {
  max-width: 500px;
  width: 100%;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding-top: -10px;
  /* min-height: 100vh; */
  box-sizing: border-box;
  background-color: #1f2833;
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  align-items: center;
  color: #1f2833;
  justify-content: center;
}

.Back {
  width: 100%;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
}

@media screen and (max-width: 550px) {
  .RegisterBody {
    width: 100%;
  }
}
